* {
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
}
body {
    background-image: url(./background.jpg);
}

header img {
    float: right;
    border-radius: 40%;
}

img:hover {
    opacity: 0.5;
}

.callout {
    margin: 5%;
    font-size: larger;
    
}

.card {
    margin: 2%;
}